body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.infobox-container{
    margin : 0 auto;
    width: 400px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.2);
    border-radius: 5px;
}
.infobox-slider{
    position: relative;
    height: 350px;
}
.infobox-item{
    z-index: 0;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}
    .infobox-item img{
        width: 100%;
    }
    .infobox-item h2{
        font-size: 18px;
        color: #fb6600;
        font-weight: 700;
    }
    .infobox-item .toggle{
        background: transparent;
        border: none;
        color: #fb6600;
        text-align: left;
        padding: 0;
        outline: none;
        cursor: pointer;
    }
    .infobox-item .collapsible{
        /* min-height: 100px; */
        white-space: nowrap;
        overflow: hidden;
        transition: height 2s;
    }
    .infobox-item .collapsible.collapsed{
        text-overflow: ellipsis;
        /* min-height: 1.5em; */
    }
    .infobox-item-text{
        position: absolute;
        width: calc(100% - 16px);
        bottom: 0;
        padding: 0 8px;
    }

.infobox-buttons{
    padding: 10px 8px;
}
.infobox-buttons button{
    outline: none;
    border: none;
    padding: 5px 20px;
    margin-right: 3px;
    border-radius: 5px;
    color: #fb6600;
    background: linear-gradient(180deg,#e0e0e0 0,#dbdbdb 33%,#cfcfcf 51%,#c7c7c7);
}